# 15 Most Useful Pandas Shortcut Methods

In [1]:
import pandas as pd
import numpy as np

## groupby

In [2]:
data = { 'Items': ['Apple', 'Orange', 'Pear', 'Orange', 'Apple'],
         'Price': [12,5,3,7,24]}
df = pd.DataFrame(data)
df

    Items  Price
0   Apple     12
1  Orange      5
2    Pear      3
3  Orange      7
4   Apple     24

In [4]:
df.groupby('Items').mean()

        Price
Items
Apple    18.0
Orange    6.0
Pear      3.0

In [6]:
df.groupby('Price').max()

        Items
Price
3        Pear
5      Orange
7      Orange
12      Apple
24      Apple

## memory_usage()

In [14]:
dtypes = ['int64', 'float64', 'complex128', 'object', 'bool']
data_dict = dict([(t, np.ones(shape=1000, dtype=int).astype(t)) for t in dtypes])

df_dict = pd.DataFrame(data_dict)
print(df_dict.shape)
df_dict.memory_usage()

(1000, 5)

Index           128
int64          8000
float64        8000
complex128    16000
object         8000
bool           1000
dtype: int64

In [16]:
df_dict.head()

   int64  float64  complex128 object  bool
0      1      1.0    1.0+0.0j      1  True
1      1      1.0    1.0+0.0j      1  True
2      1      1.0    1.0+0.0j      1  True
3      1      1.0    1.0+0.0j      1  True
4      1      1.0    1.0+0.0j      1  True

In [18]:
df_dict.memory_usage()

Index           128
int64          8000
float64        8000
complex128    16000
object         8000
bool           1000
dtype: int64